<html>
  <head>
    <title>blog</title>
  </head>
  <body>
    <ul>
      <% articles.each_with_index do |article, index| %>
        <li>
          <h1><%= article[:title] %></h1>
          <p><%= article[:date] %></p>
          <p><%= article[:content] %></p>
          <a href="/article?id=<%=index%>">Read more about <%= article[:title] %></a>
        </li>
      <% end %>
    </ul>
    <ul>
      <%
      page_numbers = [*1..amount_of_pages]
      page_numbers.each do |page_number|
      %>
      <li>
        <a href="/?page=<%= page_number %>"><%= page_number %></a>
      </li>
      <% end %>
    </ul>
  </body>
</html>
