<html>
  <head>

    <script src="jquery.js" type="text/javascript"></script>

    <title>blog</title>

  </head>
  <body>
    <form id="form_input">
      <input id='input' type="text">
      <input value="add to list" type="submit">
    </form>

    <ul id="list">
    </ul>

        <a href="/?page=1&search=">home</a>
    <ul>
      <% articles.each_with_index do |article, index| %>
        <li>
          <h1><%= article[:title] %></h1>
          <p><%= article[:date] %></p>
          <p><%= article[:content] %></p>
          <a href="/article?id=<%=index%>&search=<%= search %>">Read more about <%= article[:title] %></a>
        </li>
      <% end %>
    </ul>
    <% if page > 1 %>
    <a href="/?page=<%= page - 1 %>&search=<%= search %>">previous</a>
    <% end %>
    <ul>
      <%
      page_numbers = [*1..amount_of_pages]
      page_numbers.each do |page_number|
      %>
      <li>
        <a href="/?page=<%= page_number %>&search=<%= search %>"><%= page_number %></a>
      </li>
      <% end %>
    </ul>
    <% if page < amount_of_pages %>
    <a href="/?page=<%= page + 1 %>&search=<%= search %>">next</a>
    <% end %>
  </body>

  <script>


  $(document).ready(function() {
      $("#form_input").on('submit', function(e){
          e.preventDefault();
          var item_to_add = $('#input').val();
          $('#list').append('<li>'+ item_to_add +'</li>');
      });
  });

  </script>

</html>
